* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 0.9rem;
  background: none;
  border: none;
  color: lightgrey;
}

#backdrop {
  background: none;
}

#bar {
  background-color: rgba(43, 48, 59, 0.5);
  border-radius: 6px;
  padding: 4px 4px 4px 4px;
  border: 1px solid rgba(47, 79, 79, 0.5);
}

button {
  background: rgba(43, 48, 59, 0);
  color: lightgrey;
  /*background-image: none;*/
}

.bar-section > button {
  margin: 8px;
}

button:hover {
  background: rgba(43, 48, 59, 0.5);
}

#app-button {
  padding: 4px 20px 4px 10px;
}

#window-title {
}

#power-button {
  padding: 3px 16px 3px 16px;
}

#app-button label,
#power-button label {
  font-size: 1.2rem;
}

.menu-button label {
  font-size: 1.1rem;
}

#clock {
  color: lightgrey;
  margin: 0px 12px 0px 12px;
}

#taskbar,
#controls {
  border-radius: 6px;
  border: 1px solid rgba(47, 79, 79, 0.5);
  padding: 0px;
  margin: 8px;
}

#controls button {
  /*padding: 0.3rem 0.7rem 0.3rem 0.6rem;*/
}

#controls button label {
  font-size: 1rem;
}
